@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-bg text-fg;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  -webkit-font-smoothing: antialiased;
}

* {
  border-color: theme("colors.border");
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

.react-flow__attribution {
  display: none;
}
